@media screen and (max-width: 479px) {
    .header{
        height:200px;
        background-color: #141f40;
    }
    .boxs{
      display:block;
      width: 40px;
      height: 140px;
      position: relative;
      top:5%;right:70px;
      padding:10px;
      background-color: white;
    }

    .box{
        width:40px;
        height:40px;    
        position: relative;
        background-color: #a9004b;
        margin-bottom:10px;
    }
    
    .padding{
        width:140px;
        position: relative;
        top:20px;left:30px;right:60px;
        justify-content: space-between;
    }
    .box4{
        box-sizing:border-box;
        width:140px;
        height:40px;
        display:inline-block;
        margin-bottom:10px;
        background-color: #ff863f;
        outline: solid white 5px;
    }
    
    .box4:last-child{
        margin-bottom:0px;
    }
    
    .container{
        display:block;
        border:none;
        position: relative;
        top: 20px; left: 130px ;right: 70px;
    }
    
    .main{
        Width:200px;
    }
    .right-top1{
       float:none;
    }
    
    .right-top-left{    
        float:none;
     }
    .left{
        height:100px;
        Width:200px;
        background-color: #80bfa8;
        float:none;
    }
    
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
     }
    
    .right{
        Width:200px;
        height:200px;
     }
    
    .wrapper{
        width:200px;
    }
    
    .footer{
        height:200px;
        background-color: #d98d30;
    }
}