div .header{
    height:100px;
    background-color: #141f40;
}

div div .box{
    width:40px;
    height:40px;
    background-color: #a9004b;
    border: 8px solid white;
}
div .padding{
    position: relative;
    top:40px;left:40px;right:60px;
}
div div .box1{
    box-sizing: border-box;
    border: solid white 5px;
    margin: 10px;
    width:140px;
    height:40px;
    background-color: #ff863f;
}

div .flexbox{
    display:flex;
    width:160px;
    position: relative;
    top: 20px; left: 220px;right:20px;
}

div .main{
    height:250px;
    Width:400px;
}
div div .right-top1{
   float:left;
}

 div div div .right-top-left{    
    float:left;
 }
div .left{
    height:250px;
    Width:150px;
    background-color: #80bfa8;
    float:left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

div .right{
    Width:250px;
    height:250px;
    background-color: #8c2727;
    float:left;
 }

.wrapper{
    width:400px;
}

.footer{
    height:100px;
    background-color: #d98d30;
}
