h1{
    font-size: 30px;
}
.userReg{
    background-color: darkcyan;
    margin-top :20px;
    margin-left :60px;
    border-radius:5px;
    border:none;
    color:white;
    width: 150px;
    height: 40px;
}

.login{
    background-color: #3366FF;
    border-radius:5px;
    border:none;
    color:white;
    width: 150px;
    height: 40px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .container{
    display:flex;
  }

  .user{
    size :50px;
    border-radius:5px;
    border-color: gainsboro;
    width: 400px;
    height:35px;
  }

  .password{
    size :50px;
    border-radius:5px;
    border-color: gainsboro;
    width: 400px;
    height:35px;
  }

  .newReg{
    background-color: #3366FF;
    margin-top :20px;
    border-radius:5px;
    border:none;
    color:white;
    width: 150px;
    height: 40px;
}

p{
  color:red;
}
.custom-cursor {
    cursor: pointer;
}

th{
    background-color: gainsboro;
}