table{
    margin : auto;
}

th{
    background-color: #87ceed;
}

td{
    background-color: #e0ffff;
}

.container{
    display:flex;
}

.container2{
    Width:800px;
    display: flex;
    flex-direction: column;
    margin-bottom : 10px;
}
.size{
        width:1000px;
}

.Box1{
    flex-basis: 50%;
}
.image{
    background-color: #add8e6;
    width:200px;
    height:120px;
}

.Box2{
    background-color: #87ceeb;
    height:60px;
    width:800px;
    text-align: right;
}

.Box3{
    background-color: #00ffff;
    height:60px;
    width:800px;
    text-align: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.footer{
    vertical-align: top;
    background-color: #00ced1;
    width:1000px;
    height:120px;
}

.size2{
    height:120px;
}